<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>WELCOME</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg">
  <div class="h1">
  <p>ENTER INFORMATION</p>
</div>

<form [formGroup] = "formgroup">
    <ion-list class="hh">

        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="Email" formControlName="mail" [(ngModel)]="email1"></ion-input>
        </ion-item>
        <ion-item *ngIf="mail.hasError('required') && mail.touched">
            <p class="pp"><b>Email Is Required</b></p>
          </ion-item>
          <ion-item *ngIf="mail.hasError('pattern') && mail.touched">
              <p class="pp"><b>Email Is InInvalid</b></p>
            </ion-item>
      
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" formControlName="pass"[(ngModel)]="pass1"></ion-input>
        </ion-item>
        <ion-item *ngIf="pass.hasError('required') && pass.touched">
            <p class="pp"><b>Password Is Required</b></p>
          </ion-item>
          <ion-item *ngIf="formgroup.controls.pass.hasError('minlength') && formgroup.controls.pass.touched">
            <p class="pp"><b>Password Should not be less the 6</b></p>
        </ion-item>
        <ion-item *ngIf="formgroup.controls.pass.hasError('pattern') && formgroup.controls.pass.touched">
          <p class="pp"><b>Password Should Have Numbers and Alphabets only</b></p>
      </ion-item>



        <div padding>
        <button ion-button [disabled]="!formgroup.valid" (click)="verify()" full color="danger" round>VERIFY</button>
        <button ion-button full color="danger" round>RESET</button>
        </div>
      
      </ion-list>
 </form>

</ion-content>
