page-home {
    justify-content: center;
    text-align: center;


.bg{
    background: linear-gradient(to top,#f5eff5 0%,rgb(6, 49, 241) 100%)
}
.in{
    background: linear-gradient(to top,#4508ee 0%,#ffff 100%)
}
.cc{
    margin-top: 75px;
}
.cc1{
    margin-top: 20px;
}
.cc2{
    margin-top: 30px;
}

}
